.friendsList {
    font-size: small;
    overflow:hidden;
    width: 100%;
    text-overflow: ellipsis;
}

.imag{
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 30px;
}