.nav {
    grid-area: n;
    background-color: khaki;
    display: grid;
    grid-template-rows: 30% 1fr;
}

.tabs {
    font-size: 25px;
}

.item a {
    color: lightcyan;
    text-decoration: none;
}

.item a.activeLink {
    color: rgb(177, 134, 27);
}

.friendsBar {
    font-size: 35px;
    text-align: center;
}

.friendsItems {
    display: grid;
    grid-template-columns: 65px 65px 65px;
    width: 100%;
    grid-gap: 10px;
    padding: 10px;
}
