.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 8px;
  grid-template-areas: 
  "h h"
  "n c"
  "f c";
}

.app-wrapper-content {
    grid-area: c;
    background-color: rgb(85, 139, 255);
    height: 100vh;
}

