.dialogs {
display: grid;
grid-template-columns: 6% 15% 1fr;
grid-template-rows:1fr;

}


.dialogsList {
 padding: 10px;
}
    
.dialogsList .active {
 color: green;
 background-color: #fff;
}

.messages {
padding: 10px;
}