.dialogs {
display: flex;
flex-direction: row;

}
.dialogsList {
 padding: 10px;
 text-decoration: none;
 border-right: 1px solid white;
}
    
.dialogsList .active {
 color: green;
 background-color: #fff;
}

.messages {
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 10px;
}
.messages button {
    background-color: transparent;
    color: aliceblue;
    border: none;
}